doctype html
html
    head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    //- script(type="text/javascript", src="/javascripts/socket.io.js")
    //- script(type="text/javascript", src="/javascripts/iotest.js")
    body
    .row        
        h4.col-md-4.col-md-offset-4.text-center.error-message #{errorMessages}          
    .row
        h4.col-md-4.col-md-offset-4.text-center.success-message #{successMessages}
    block content