doctype html
html
    head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    block style    
    block scripts
    body
    .row.error-message        
        h4.col-md-4.col-md-offset-4.text-center #{errorMessages}          
    .row.success-message
        h4.col-md-4.col-md-offset-4.text-center #{successMessages}
    block content