doctype html
html(lang='en')
  head
    title Scratchpad - Realtime HTML and CSS Editor
    link(href='/css/scratchpad.css', rel='stylesheet', type='text/css')
  body#scratchpad(tabindex='0')        
    #commandbar
      a#menu.menu-button.run-js-button(href='javascript:void(0)') JS
      a#menu.menu-button.merge-button(href='javascript:void(0)') Unmerge
    #toggle-instructor-display Show Instructor Display      
    #instructor-editor
    #editor
    //- #footer
    //-   | Powered by 
    //-   a#firebase(href='https://www.firebase.com/', target='_blank') Firebase
    #drag-handle
    iframe#instructor-preview
    iframe#hidden-frame("sandbox"="allow-same-origin")
    iframe#preview
    #help
      h2 HTML & CSS Quick Reference
      dl
        dt Headings
        dd
          code <h1>, <h2>, <h3>, <h4>, <h5>, <h6>
        dt Link
        dd
          code <a href="http://google.com">Google<a>            
    .chat-window
      .toggle-chat
        | Show Chat
      .history
      .message-input
        textarea.message-area
    script.
      var Scratchpad = {document_id: "#{docId}"}
    script(src='/js/jquery-1.11.3.min.js', type='text/javascript')
    script(src='/js/webpack-files/firebase.min.js', type='text/javascript', charset='utf-8')
    script(src='/js/ace/ace.js', type='text/javascript', charset='utf-8')
    script(src='/js/ace/worker-html.js', type='text/javascript', charset='utf-8')        
    script(src='/js/ace/ext-language_tools.js', type='text/javascript', charset='utf-8')    
    script(src='/js/ace/snippets/css.js', type='text/javascript', charset='utf-8')
    script(src='/js/underscore.js', type='text/javascript', charset='utf-8')
    script(src='/js/keymaster.js', type='text/javascript', charset='utf-8')
    script(src='/js/ScratchpadSyncPreview.js', type='text/javascript')
    script(src='/js/SyncedEditorManager.js', type='text/javascript')      
    script(src='/js/ScratchpadChat.js', type='text/javascript')
    script(src='/js/IframeManager.js', type='text/javascript')    
    script(src='/js/webpack-files/Util.js', type='text/javascript')    
    script(src='/js/BindingUtils.js', type='text/javascript')    
    script(src='/js/SelectionCreator.js', type='text/javascript')        
    script(src='/js/SelectionManager.js', type='text/javascript')
    script(src='/js/scratchpad.js', type='text/javascript')

