extends layout
block scripts        
    script(src="/js/build/ScreensharePage.js", type="text/javascript")

block style
    link(rel='stylesheet', href='/css/ScreenshareDisplay.css')

block content
    #pubnub(ssl="on")
    #container(ondblclick='enterFullScreen()')
        #card
            #remote
              video#remoteVideo(autoplay='autoplay')

        #info-bar