html
	head
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript")
		script(src='https://static.firebase.com/v0/firebase.js' type="text/javascript" charset='utf-8')
		script.
			$(function() {			
				var documentId = "#{siteId}"
				var ref = new Firebase('https://classadoo-scratch.firebaseio.com/students/' + documentId)
				ref.once("value", function(snap) {					
					var code = snap.val().editor.code
					console.log("got the value?", code);
					$("body").html(code);
				})
			})
	body

