extends layout

block content
  .container-fluid        
    .row
      h2.col-md-4.col-md-offset-4.text-center #{task.name}
    .row
      .col-md-4.col-md-offset-4.text-center #{task.description}      
    .row
      .col-md-4.col-md-offset-4.text-center
        .input-group
          .input-group-btn
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Prerequisite 
              span.caret
            ul.dropdown-menu
              each prereq in prereqs
                li
                  a(href='#' data-id=prereq.id) prereq.name          
          input.form-control.dropdown-selection(type='text')    