.explanation {
	margin-bottom: 100px;	
}

.letter-container {
	margin-top: 50px;
}

.letter {
	 font-size: 30px;	 
	 margin-top: 20px;
}

.letter-1 {
	 visibility: hidden;
}

.letter-2 {
	 font-size: 0px;
}

.letter-3 {
	 top: 500px;
	 position: relative;
}

.letter-3-box {
	overflow: hidden;
}

.letter-4 {
	color: white;
}

.letter-5 {
	overflow: hidden;
	height: 0px;
}

.letter-6 {	
	top: 10000px;
}

.letter-7 {
	background: black;
	color: black;
}