.student-state {
	border: 2px solid black;	
	overflow: hidden;
	white-space: nowrap;
	padding: 5px;
}

#student-state-wrapper {
	margin-top: 50px;
}

#student-state-wrapper .url-input-group {
	margin-top: 10px;
}

#student-state-wrapper .goto-scratchpad {
	margin-top: 10px;
}

#student-state-wrapper .complete-task {
	margin-right: 20px;
}

#student-state-wrapper .scratch-input code {
	white-space: pre;
}

#student-state-wrapper .scratch-input pre {
	max-height: 300px;
	font-size: 10px;
}

#student-state-wrapper button {
	font-size: 10px;
}

#student-state-wrapper .scratch-input .editable {
	display: none;
}

.scratch-display-buttons {
	margin-bottom: 5px;
}

#lesson-controls {
	margin-top: 50px;
	border: 1px solid grey;
    padding: 5px;
}

.only-shown {
	background: lightblue;
}

.task-list {
	table-layout:fixed;
    width: 100%; 
}

.task-index {
	/*border: 1px solid black;*/
	width: 8%;
	font-weight: bold;
	cursor: pointer;
}

.task-description {
	border: 1px solid black;
	width: 72%;	
	white-space: nowrap;
	overflow: hidden;
	padding: 4px;
}

.set-stop, .set-task {
	width: 10%;	
	border: 1px solid black;	
	cursor: pointer;
}

.set-task.active {
	background: green;
}

.set-stop.active {
	background: red;
}

#class-controls {
	margin-top: 20px;
}

.hidden-fields {
	display: none;
}

.help-indicator {
	color: red;
	cursor: pointer;	
}

.hidden-toggle {
	cursor: pointer;
}

.class-controls .btn {
	margin-top: 5px;
}

.done {
	background: lightgreen;
}

.screenshot-display {
	width: 500px;
	display: none;
}

.recent-click {
	background: lightblue;
}

.chat-window {
	border: 1px solid black;
	height: 150px;
	position: relative;
	font-size: 10px;
	padding: 5px;
}

.chat-window .theirs {
	padding: 1px;
}

.chat-window .yours {
	padding: 1px;
	background: rgb(230, 230, 230);	
}

.chat-window .history-window {
	margin: 0 4% 0 4%;
	overflow: scroll;
	height: 75%;
}

.chat-window .input-area {
	width: 90%;
	position: absolute;
	bottom: 5px;
	left: 5%;
	height: 20%;
}