body {
	font-family: Varela Round, Helvetica;		
	position: relative;
}

body div {
	font-size: 14px;
}

h4 {
	line-height: 1.4
}

.logo-container {
	margin-left: 60px;	
	float: left;
	border: 1px solid white;
}

.logo {
	position: relative;
	bottom: 10px;
	height: 60px;	
}

.nav-links {
	float: right;	
	margin-right: 60px;		
}

.nav-link {
	display: inline-block;
	margin-left: 55px;	
	font-size: 20px;
}

.nav-link a {
/*	color: #3ec2d2;*/
	color: black;
}

.nav-link.active a {
	color: #3ec2d2;
}

.nav-link.active:hover a {
	text-decoration: none;
	cursor: default;
}

.nav-dropdown {
	display: none;	
}

.nav-link.enroll-button {
	background: #7A9F35;
	padding: 10px;	
	border-radius: 5px;
}

.nav-link.enroll-button a {
	color: white;
}

.mobile-only {
	display: none
}

.desktop-only {
	display: block
}

.footer {	
	bottom: 0px;
	position: absolute;
	width: 100%;
	padding: 0 10px 0 10px;	
}

.connect-wrapper {
	float: right;
	margin: 0 0 0 0;
	font-size: 40px;
	display: none;
}

.contact-wrapper {
	/*float: left;*/
	text-align: center;		
}

.contact {
	font-size: 14px;
}

.last-item {
	padding-bottom: 60px;
}

.sign-up-prompt {
	margin-bottom: 10px;
}

.enroll-link {
	background: #7A9F35;
	color: white;
	padding: 10px;
	display: inline-block;
}

.enroll-link:hover {
	color: white;
}

@media (max-device-width: 480px) { 	
	h1 {
		font-size: 80px;
	}

	h2 {
		font-size: 65px;
	}

	h3 {
		font-size: 50px;
	}

	h4 {
		font-size: 30px;
	}

	body {
		font-size: 15px;
	}	

	.intro-line-1 {
		font-size: 90px;
	}

	.nav-links {
		display: none;
	}

	.nav-dropdown {
		display: block;
		float:left;
	}

	.menu-button-icon {
		font-size: 80px;
	}

	.logo-container {
		float: right;
		margin-right: 10px;
	}

	.dropdown-menu {
		font-size: 50px;
	}

	.connect {
		float: none;
		font-size: 90px
	}

	.footer {
		text-align: center;
	}

	.mobile-only {
		display: block
	}

	.desktop-only {
		display: none
	}
}