.categories-container {
	margin-top:  30px;
}

.cost-header {
	color: #C84F4F;
	margin-top: 0px;
	margin-bottom: 20px;
}

.js .course-logo {
	width: 100px;
}

.webdev-advanced .course-logo {
	width: 140px;
}

.entrepreneurship .course-logo {
	width: 90px;
}

.html .course-logo {
	width: 120px;
}

.format-row {
	margin-bottom: 20px;
}

.category {
	margin-bottom: 50px;
	margin-top: 30px;
}

.level-header {
	margin-top: 20px;
	margin-bottom: 20px;
}

.category-name {
	color: #C84F4F;
}

.enroll-link {
	display: inline-block;	
	background: #7A9F35;
	color: white;
	padding: 10px;
}

.enroll-link:hover {
	color: white;
}

.categories-container {
	padding-bottom: 60px;
}