.intro {	
  	color: whitesmoke;  	
}

.intro-container {
	background: #333333;  
  	padding: 35px 20px 35px 20px;
  	/*margin-bottom: 60px;*/
  	margin-top: 40px;
}

.intro-line-1 {	
	font-weight: 900;	
	font-size: 50px;
	margin-top: 0px
}

.class-intro {
	margin-bottom: 10px;
}


.explanation h3 {
	margin-top: 0px;
}

.section-2 {
	margin-top: 100px;	
}

.intro-quote {
	/*border: 2px solid #407F7F;*/
}

.component-results {
	color: black;
	/*background: #AA72B0;*/
	/*padding: 20px 0 20px 0;*/
}

.component-header {
	margin-bottom: 20px;
	font-weight: 900;
	/*text-decoration: underline;*/
}

.program-explanation {
	margin-top: 30px;
}

.program-diagram {
	margin-top: 30px;	
}

.program-diagram-title {
	color: #C84F4F;
	margin-bottom: 30px;
}

.program-diagram-img {
	width: 350px;
}

.format-img {
	width: 350px;
}

.format-title {
	/*color: #407F7F*/
}

.format-row {
	margin-top: 20px;
}

.format-quote-row .quote-source {
	margin-top: 10px;
}

.format-quote-row {
	margin-top: 30px;
}

.enroll-row {
	margin-top: 40px;
	padding-bottom: 40px;
}

.enroll-link {
	background: #7A9F35;
	color: white;
	padding: 10px;
	display: inline-block;
}

.enroll-link:hover {
	color: white;
}

.quote-text {
	font-style: italic;
}

.quote-text-span {
	display: inline-block;
	border: 2px solid #407F7F;	
	padding: 15px;
}

.quote-source {
	font-weight: bold;
}

.quote h4 {
	margin-bottom: 0px	
}

.quote h3 {
	margin-top: 0px	
}

.quote {
	padding: 10px;
}

@media (max-device-width: 480px) { 
	.program-diagram-img {
		width: 250px;
	}

	.format-img {
		width: 300px;
	}

	.format-explanation, .quote-text, .quote-source {
		font-size: 25px;
	}

	.format-wrapper, .quote-wrapper {
		width: 100%;
		margin: 0px;
	}

	.format-container, .quote-container {
		width: 45%;
		margin-right: 2.5%;
		margin-left: 2.5%;
	}
}