.terminal-wrapper {
  position: relative;
}

.terminal-wrapper .display {  
  padding-left: 0px;
  padding-right: 0px; 
  margin-left: 40px;
}

.terminal-wrapper .input-history {
  margin-left: 0px;
}

.terminal-wrapper .command-input {
  outline: none;
  color: gainsboro;
  min-width: 1px;
}

.terminal-wrapper .prompt {
  margin-right: 5px;
}

.terminal-wrapper .task-display {
  margin-bottom: 5px; 
  border-bottom: 2px solid rgba(86, 86, 86, .8);
}

.terminal-wrapper .help-display {
  margin-bottom: 5px; 
  border-bottom: 2px solid rgba(86, 86, 86, .8);
}

/*.task-wrapper, .help-wrapper, .command-history-wrapper, .input-wrapper {
  display: flex;
}*/

/*.terminal-wrapper .display {
  width: 80%;
}*/

.terminal-wrapper .display-label {
  /*width: 10%;  */
  /*color: aqua; */
  color: #40DF7F;
}

.terminal-wrapper .greeting {
  width: 100%;
  position: absolute;
  top: 0;
  padding-left: 10%;
  padding-right: 10%;
}

.terminal-wrapper .output-line {
  margin-bottom: 5px;
}