files:
    "/etc/nginx/conf.d/websocketupgrade.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
             proxy_set_header        Upgrade         $http_upgrade;
             proxy_set_header        Connection      "upgrade";
option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: "npm start"
  - namespace: aws:elasticbeanstalk:sqsd
    option_name: InactivityTimeout
    value: 1800
  - namespace: aws:elasticbeanstalk:sqsd
    option_name: InactivityTimeout
    value: 1800
  - namespace: aws:elasticbeanstalk:sqsd
    option_name: ConnectTimeout
    value: 60