files:
    "/etc/nginx/conf.d/websocketupgrade.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
             proxy_set_header        Upgrade         $http_upgrade;
             proxy_set_header        Connection      "upgrade";
option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: "npm start"  
  - aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:us-east-1:417834743918:certificate/848e4751-7da5-4f93-8960-98fcf26434f5
    ListenerProtocol: HTTPS